@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

.dark-mode {
    --bg-color: #eeecec;
    --second-bg-color: rgb(202, 197, 197);
    --text-color: #1f242d;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-image img {
    width: 45vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(-2.4rem);
    }
    100%{
        transform: translate(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color)
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a :hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 25vw;
    border-radius: 9%;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* toggle */
.toggle {
    display: flex;
    cursor: pointer;
    animation: sideLeft 1s ease forwards;
    animation-delay: 3.5s;
    align-items: center;
    text-align: center;
}

.toggle .toggle-icon {
    font-size: 22px;
    color: "white"
}

#skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
}

.skills-container .skills-card {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-card:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-card i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-card h3 {
    font-size: 2.6rem;
}

.skills-card p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Projects section */
#projects {
    background: var(--second-bg-color);
}

#projects h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-card {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card img {
    width: 100%;
    transition: .5s ease;
}

.project-card img:hover {
    transform: scale(1.1);
}

.project-card .project-details {
    background: linear-gradient(rgba(0, 0, 0, 2), var(--main-color));
    width: 100%;
    padding: 2rem;
    text-align: center;
}
.project-card .project-details h4.project-title {
    font-size: 2rem; /* Increased font size */
    margin: 1rem 0; /* Adjusted margin */
    color: var(--main-color); /* Changed text color to a main color */
}

.project-card .project-details h4 {
    font-size: 2rem;
    margin: 1rem 0;
}

.project-card .project-details p {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
}

/* Updated Project description */
.project-card .project-details p.project-description {
    font-size: 1.8rem; /* Increased font size */
    margin: 1.5rem 0; /* Adjusted margin */
    color: var(--text-color); /* Changed text color to a text color */
    line-height: 1.3; /* Adjusted line height for better readability */
}
.project-card .project-details h4.project-tech-stack {
    font-size: 1.7rem; /* Increased font size */
    margin: 1rem 0; /* Adjusted margin */
    color: var(--accent-color); /* Changed text color to an accent color */
}
/* Updated Project links with hover effect */
.project-card .project-details a {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    color: var(--second-bg-color); /* Initial color */
    font-size: 1.9rem; /* Initial font size */
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Transition for color and size change */
}

.project-card .project-details a:hover {
    color: var(--main-color); /* Color on hover */
    font-size: 3rem; /* Increased font size on hover */
}



/* 
.project-card .project-details a i {
    font-size: 2rem;
    color: var(--second-bg-color);
} */

/* github css */
.react-activity-calendar {
    text-align: center;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#github-stats {
    margin: 70px;
}

#resume-button-2 {
    list-style: none;
    
}

#github-stats {
    align-items: center;
    justify-content: center;
    display: flex;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats>div {
    flex: 1 0 100%;
    max-width: 400px;
    margin: 10px;
}
/* Responsive styles for medium-sized screens (e.g., tablets) */
@media screen and (max-width: 768px) {
    .stats > div {
      max-width: 300px;
    }
    #statics img{
        width: 80vw;
    }
  }
  
  /* Responsive styles for small-sized screens (e.g., mobile phones) */
  @media screen and (max-width: 480px) {
    .stats > div {
      max-width: 100%;
    }
    #statics img{
        width: 70vw;
    }
   
  }

/* contact */


#statics .heading {
    color: var(--main-color);
    margin-bottom: 5rem;
    margin-top: 5rem;
}


#contact {
    background: var(--second-bg-color);

}

.contact .heading {
    margin-bottom: 10rem;
}

#contact p {
    color: var(--text-color)
}

.links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.links a :hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

/* contacts */

.contact_me{
    text-align: center;
}

.contact_me p,
.contact_me h2 {
    margin-bottom: 10px;
}

.contact_me .links {
    margin-top: 10px;
}

.contact_me .links a {
    margin-right: 10px;
}



#contact p {
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background:var(--bg-color)
}

.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}
.footer-iconTop a :hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

 /* BREAKPOINTS */

 @media (max-width:1200px){
    html{
        font-size: 55%;
    }
 }

 @media (max-width:991px){
     .header{
        padding: 2rem 3%;
     }
  section{
    padding: 10rem 3% 2rem;
  }
 
  #skills{
    padding: 10rem 3% 2rem;
  }

  #projects{
    padding-bottom: 7rem;
  }
  .contact{
    min-width:auto;
  }
  .footer{
    padding: 2rem 3%;
  }

 }

 @media (max-width:768px){
   #menu-icon{
     display: block;
   }
   .navbar{
    position: absolute;
    top:100%;
    left:0;
     width: 100%;
     padding: 1rem 3%;
     background: var(--bg-color);
     border-top: .1rem solid rgba(0,0,0,.2);
     box-shadow: 0 .5rem 1rem solid rgba(0,0,0,.2);
     display: none;
   }
   .navbar.active{
    display: block;
   }
   .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
   }
   .home{
    flex-direction: column;
   }
   .home-content h3{
    font-size: 2.6rem;
   }
   .home-content h1{
    font-size: 5rem;
   }
   .home-image img{
     width: 85vw;
     margin-top: 5rem;
  
   }
   .about{
    flex-direction: column-reverse;
   }
   .about img{
    width: 50vw;
    margin-top: 4rem;
   }
   .skills h2{
   margin-bottom: 3rem;
   }
   #projects{
    margin-bottom: 3rem;
   }
   .project-container {
     grid-template-columns: repeat(1,1fr);
   }
 }

 @media (max-width:617px){
  .project-container{
    grid-template-columns: 1fr;
  }
 }

/* tools css */
#tools h2 {
    margin-bottom: 5rem;
}

.tools-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    /* gap: 2rem; */
    text-align: center;
    gap: 30px;
}

/* For medium (tablet) screens */
@media screen and (max-width: 768px) {
    .tools-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  
/* For small mobile screens */
@media screen and (max-width: 480px) {
    .tools-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  
.tools-container .tools-card {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.tools-card h3 {
    font-size: 2.6rem;
}


.tools-container .tools-card:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}


@media (max-width:450px){
  html{
    font-size: 50%;
  }
}

@media (max-width:365px){
    .home-image img{
        width: 100vw;
    }
    .about img{
        width: 80vw;
    }
    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}